body {
    background-color: #5b0509;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /*filter: brightness(70%) contrast(80%) blur(2px);*/
    font-family: 'Nunito', sans-serif;
}
nav,li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
input{
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
}
header {
    background-color: rgb(44, 1, 1);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50px;
    padding: 2px 20px;
    justify-content: space-between;
}
.authBlock{
    display: flex;
    align-items: center;
}
.authBlock .userDate{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.authBlock .dropDownMenu{
    position: absolute;
    backdrop-filter: blur(10px);
    right: 10px;
    border-radius: 12px;
    padding: 10px;
    top: 70px;
    width: 150px;
    height: 100px;
    -webkit-box-shadow: 0 0 37px 6px rgba(0, 0, 0, 0.42) inset;
    -moz-box-shadow: 0 0 37px 6px rgba(0, 0, 0, 0.42) inset;

    background-color: rgb(102 27 27 / 20%);
}
.headerUserPart {
    display: flex;
    align-items: center;
    gap: 10px;
    /*margin-left: auto;*/
}
.headerLinksPart nav{
    display: flex;
    gap: 20px;
}
li:hover{
    color: rgb(183, 205, 220);
    text-decoration: underline;
    cursor: pointer;
}
.logoUser img {
    width: 30px;
    background: rgb(81, 8, 8);
    border-radius: 50%;
}

.headerLogoPart span {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
